<section class="clickthroughs no-pad">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <a href="products">
                        <div class="content-contain">
                            <h3>Products</h3>
                            
                        </div>
                        <div class="overlay" style="background-image:url(resources/img/products.jpg);"></div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <a href="[[~[[17]]]]">
                        <div class="content-contain">
                            <h3>Annoucements</h3>
                            
                        </div>
                        <div class="overlay" style="background-image:url(resources/img/news.jpg);"></div>
                    </a>

                </div>
            </div>
        </div>
    </section>