<div class="col-xs-12 col-sm-4 item">
    <div class="contain">
        <img src="[[+homepage-image:is=``:then=`[[+header-image:phpthumbof=`w=300&h=150&zc=1`]]`:else=`[[+homepage-image:phpthumbof=`w=300&h=150&zc=1`]]`]]" alt="">
        <div class="content">
            <h3>[[+pagetitle]]</h3>
            <p>[[+homepage-leadin:stiptags]]</p>
            <a href="[[~[[+id]]]]" class="button">Learn More</a>
        </div>
    </div>

</div>