    <section class="footer">
        <div class="container-fluid wrap">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <a href="/" class="logo"><img src="resources/img/logo.png" alt=""></a>
                            <ul>
                                <li><p><i class="fa fa-phone"></i> [[#1.tv.primary-telephone]]</p></li>
                                <li><p><a href="mailto:[[#1.tv.primary-email]]"><i class="fa fa-envelope-o"></i> [[#1.tv.primary-email]]</a></p></li>
                            </ul>


                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <h3>Menu</h3>
                                    </div>
                                </div>
                                [[Wayfinder? 
                                    &level=`1`
                                    &startId=`0`
                                    &outerTpl=`nav-outer`
                                    &sortBy=`menuindex`
                                    &rowTpl=`row`
                                    &outerClass=`menu-row row`
                                    &rowClass=`col-xs-6`
                                    &excludeDocs=`5`
                                    ]]
                            </div>
                        </div>
                    </div>
                </div>
                

                <div class="col-xs-12 col-md-6">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <h3>Products</h3>
                            [[Wayfinder? 
                                &level=`1`
                                &startId=`5`
                                &outerTpl=`nav-outer`
                                &outerClass=`menu-row`
                                &sortBy=`menuindex`
                                &rowTpl=`row`
                                
                                &rowTpl=`row`
                                ]]
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <h3>Find Us</h3>
                            [[$social]]
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>