<header>
        <nav class="mainnav" >
            <div class="container-fluid wrap">
                <div class="row">
                    <!-- <div class="col-xs-9 col-sm-5 col-md-4 logo-contain">
                        <a href="" class="logo"><img src="resources/img/navlogo.png" alt=""></a>
                        
                    </div> -->
                    <div class="col-xs-12 ">
                        <div  id="mobile-menu">
                            [[$navigation]]
                            
                            <!-- [[$navigation-mobile]]
                            <div class="cf desktop-nav">
                                <div class="nav-offset">
                                    [[$navigation]]
                                    
                                </div>
                                    
                            </div> -->
                            

                            <div class="bar">
                                <a class="logo-bug" href="/"><img src="resources/img/logo-stacked.png" alt=""></a>
                            </div>
                        <div class="cf information hidden-xs hidden-sm">
                                <div class="nav-offset">

                                <div class="content">
                                <p><i class="fa fa-phone"></i>&nbsp;&nbsp;[[#1.tv.primary-telephone]]&nbsp;&nbsp;|&nbsp;&nbsp;<i class="fa fa-envelope-o"></i><a href="mailto:[[#1.tv.primary-email]]">&nbsp;&nbsp;[[#1.tv.primary-email]]</a></p>
                            </div>
                            </div>
                            
                        </div>
                    </div>
                    </div>
                    
                </div>
            </div>
        </nav>
    </header>