  <section class="hero" style="background-image:url([[*header-image]])">
    <div class="overlay"></div>
        <div class="container-fluid wrap">
            <div class="row">
                <div class="contain">
                    <div class="hero-content">
                        <h1 class="pagetitle">[[*pagetitle]]</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>