<div class="col-xs-12 col-sm-6 col-md-4 item product vertical-center">
    <div class="content">
        <h2>[[+pagetitle]]</h2>
        <p>[[+homepage-leadin:striptags]]</p>
        <a href="[[~[[+id]]]]" class="button">See Products</a>
    </div>
    <div class="overlay-image" style="background-image:url([[+header-image]])"></div>
</div>