<!-- Facebook OpenGraph Data -->
<meta property="og:title" content="[[*longtitle:isequal=``:then=`[[*pagetitle]]`:else=`[[*longtitle]]`]] " />
<meta property="og:type" content="website" />
<meta property="og:description" content="[[*description:isequal=``:then=`[[*content:striptags:ellipsis=`150`]]`:else=`[[*description]]`]]" />        
<meta property="og:url" content="[[++site_url]][[~[[*id]]]]"/>
<meta property="og:image" content="[[*header_image:isequal=``:then=`[[++site_url]][[++social_image:phpthumbof=`w=1200&h=630&zc=1`]]`:else=`[[++site_url]][[*header_image:phpthumbof=`w=1200&h=630&zc=1`]]`]]" />
<meta property="og:site_name" content="[[++site_name]]" />

<!-- Canonical URL for CMS SEO -->
<link rel="canonical" href="[[++site_url]][[~[[*id]]]]" />