<div class="col-xs-12 col-sm-4 col-sm-pull-8">
    <div class="sidebar">
         <h3 class="sidebar-title">[[*pagetitle]]</h3>
        [[Wayfinder? 
        &level=`0`
        &startId=`[[*id]]`
        &innerTpl=`nav_inner`
        &outerTpl=`nav-outer`
        &level=`1`
        &sortBy=`menuindex`
        ]]
    </div>
</div>