<ul class="social list-inline">
    [[#1.tv.facebook:notempty=`<li><a class="facebook" href="[[#1.tv.facebook]]" target="_blank"><i class="fa fa-facebook-official"></i></a></li>`]]
    [[#1.tv.twitter:notempty=`<li><a class="twitter" href="[[#1.tv.twitter]]" target="_blank"><i class="fa fa-twitter"></i></a></li>`]]
    [[#1.tv.google:notempty=`<li><a class="google" href="[[#1.tv.google]]" target="_blank"><i class="fa fa-google"></i></a></li>`]]
    [[#1.tv.linkedin:notempty=`<li><a class="linkedin" href="[[#1.tv.linkedin]]" target="_blank"><i class="fa fa-linkedin"></i></a></li>`]]
    [[#1.tv.youtube:notempty=`<li><a class="youtube" href="[[#1.tv.youtube]]" target="_blank"><i class="fa fa-youtube"></i></a></li>`]]
</ul>