    <form class="main-form container-fluid contact-form" method="post" action="assets/snippets/send_the_form.php" id="contactForm">
      <input type="text" name = "Last__Name" id = "spam_check" value="" class="input" style = "position:absolute; top: -9999px;"/>
      
                <input type = "hidden" name = "send_the_form" value = "true" />
                <input type = "hidden" name = "options[subject]" value = "Contact Form" />
                <input type = "hidden" name = "options[to]" value = "Justin" />
                <input type = "hidden" name = "options[ajax]" value = "true" />
                <input type = "hidden" name = "options[primary-email]" value = "[[#1.tv.primary-email]]" />
                <input type = "hidden" name = "options[pageAlias]" value = "/contact" />
                <input type = "hidden" name = "options[pageReferer]" value = "[[*success:is=``:then=`/contact`:else=`/[[#[[*success]].alias]]`]]" />

                <div class="row">
                  <div class="col-xs-12 col-sm-6">
                    <label for="first_name">First Name<sup>*</sup></label>
                    <input type="text" id="first_name" class="required" name="first_name"  placeholder="Jonathan">
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <label for="last_name">Last Name<sup>*</sup></label>
                    <input type="text" id="last_name"  class="required"name="last_name"  placeholder="Doe">
                  </div>
                </div>
                <div class="row">
                   <div class="col-xs-12 col-sm-6">
                      <label for="email">Email Address<sup>*</sup></label>
                      <input type="text" id="email" name="email" class="required"  placeholder="jon@doe.com">
                   </div>
                   <div class="col-xs-12 col-sm-6">
                    <label for="phone">Phone<sup>*</sup></label>
                    <input type="text" id="phone" name="phone" class="required"  placeholder="999-999-9999">
                   </div>
                 </div>
                   <label for="Message">Message</label>
                <textarea row="10"  id="message" name="message"></textarea>
                
              
                <div class="row">
                    <input type="submit" data-form = "#contactForm"  value="Send our way" />

                </div>
            </form>

