 [[!FormIt?
       &hooks=`spam, email,FormItSaveForm`
       &formName=`Contact Form`
       &emailFrom=`donotreply@warehousesolutionsinc.com`
       &emailTpl=`snt-from-quote`
       &formName=`Free Quote Form`
       &emailTo=`[[#1.tv.primary-email]]`
       &emailBCC=`justin.lobaito@weloideas.com`
       &emailSubject=`Contact Form Submission - [[++site_name]]`
       &validate=`phone:required, first_name:required, last_name:required,  email:required, email:email, comments:required:stripTags, nospam:blank`
      &successMessage=`<div class="alert alert-success">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h3>Thank you for requesting a free quote.</h3>
      <p>A [[++site_name]] representative will get in contact with you shortly</p>
    </div>`
    ]]

   [[!+fi.validation_error_message:!empty=`


<div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
		<div>
		      <strong><h3>Please review the following errors:</h3></strong>
		            [[!+fi.error.first_name:!empty=`<p>First Name is required</p>`]]
		            [[!+fi.error.last_name:!empty=`<p>Last Name is required</p>`]]
		            [[!+fi.error.email:!empty=`<p>Email Address is required</p>`]]
		            [[!+fi.error.phone:!empty=`<p>Phone Number is required</p>`]]
      					[[!+fi.error.comments:!empty=`<p>Additional Comments is required</p>`]]

		</div>
</div>


`]]
    [[!+fi.successMessage]]


                   <form class="main-form row" action="[[~[[*id]]]]" method="post"  >
                        <input type="hidden" name="nospam" value="" />
                                <div class="col-xs-12 col-sm-6">
                                    <label for="first_name">First Name<sup>*</sup></label>
                                    <input type="text" value="[[!+fi.first_name]]" id="first_name" name="first_name"  placeholder="Jonathan">
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <label for="last_name">Last Name<sup>*</sup></label>
                                    <input type="text" value="[[!+fi.last_name]]" id="last_name" name="last_name"  placeholder="Doe">
                                </div>
                                <div class="col-xs-12">
                                  <label for="company">Company</label>
                                    <input type="text" value="[[!+fi.company]]" id="company" name="company"   placeholder="Company Name">
                                </div>
                                <div class="col-xs-12 col-sm-6">

                                    <label for="email">Email Address<sup>*</sup></label>
                                    <input type="text" value="[[!+fi.email]]" id="email" name="email"   placeholder="jon@doe.com">
                                </div>
                                <div class="col-xs-12 col-sm-6">

                                    <label for="phone">Phone<sup>*</sup></label>
                                    <input type="text" value="[[!+fi.phone]]" id="phone" name="phone"   placeholder="999-999-9999">
                                </div>
                               <div class="col-xs-12">
                                 <label for="products">Products/Services<sup>*</sup></label>
                                    <select value="[[!+fi.products]]" id="products" name="products">
                                      <option value="null" selected disabled>Select An Option</option>
                                        <option value="Automated Vertical Storage">Automated Vertical Storage</option>
                                        <option value="Cranes, Hoists & Rigging">Cranes, Hoists & Rigging</option>
                                        <option value="Pallet Rack Systems">Pallet Rack Systems</option>
                                        <option value="Mezzanines & VRC Pallet Lifts">Mezzanines & VRC Pallet Lifts</option>
                                        <option value="Stanley Cabinets & Workstations">Stanley Cabinets & Workstations</option>
                                        <option value="Steel Shelving and Shop Solutions">Steel Shelving and Shop Solutions</option>
                                        <option value=Pallet Rack Repair>Stak Systems</option>
                                        <option value="Pallet Shuttle">Pallet Shuttle</option>
                                        <option value="Specialized Shelving">Specialized Shelving</option>
                                        <option value="Teardown / Installation / Relocation">Teardown / Installation / Relocation</option>
                                      </select>
                               </div>
                               <div class="col-xs-12 col-sm-6">
                                <label for="system">Type of System<sup>*</sup></label>
                                    <select value="[[!+fi.system]]" id="system" name="system">
                                      <option value="null" selected disabled>Select An Option</option>
                                        <option value="Selective Pallet Rack">Selective Pallet Rack</option>
                                        <option value="Pallet Flow">Pallet Flow</option>
                                        <option value="Pushback">Pushback</option>
                                        <option value="Drive-In / Drive-Thru">Drive-In / Drive-Thru</option>
                                        <option value="Carton Flow">Carton Flow</option>
                                        <option value="Cantilever">Cantilever</option>
                                        <option value="Pallet Rack Repair">Pallet Rack Repair</option>
                                      </select>
                                    </div>
                                    <div class="col-xs-12 col-sm-6">
                                <label for="timeline">Project Timeline<sup>*</sup></label>
                                    <select value="[[!+fi.timeline]]" id="timeline" name="timeline">
                                      <option value="null" selected disabled>Select An Option</option>
                                        <option value="0-3 months">0-3 months</option>
                                        <option value="3-6 months">3-6 months</option>
                                        <option value="6-9 months">6-9 months</option>
                                        <option value="9-12 months">9-12 months</option>
                                        <option value="12+ months">12+ months</option>
                                      </select>
                                    </div>
                                <div class="col-xs-12">
                                    <label for="comments">Additional Comments<sup>*</sup></label>
                                    <textarea value="[[!+fi.comments]]" id="comments" name="comments"></textarea>
                                    <input class="button" type="submit" value="Send our way" />
                                    
                                </div>
                    </form>
                  