[[+first_name]] [[+last_name]], from <strong>[[+company]]</strong> has requested a free qutoe from [[++site_name]]: <br />
<br />
[[+phone:notempty=`<strong>Phone Number:</strong> [[+phone]]<br />`]]
<strong>Product:</strong> [[+products]]<br>
<strong>Type of System:</strong> [[+system]]<br>
<strong>Project Timeline:</strong> [[+timeline]]<br>



<strong>[[+comments]]</strong><br /><br />

You can respond to [[+first_name]] [[+last_name]] by email at <a href="mailto:[[+email]]">[[+email]]</a> [[+phone:notempty=`or by phone at [[+phone]]`]]<br><br>

<p style="color:red">Do not reply to this email!</p>