[[+main-content:notempty=`
	<div class="row content-row">
        <div class="col-xs-12 main-content">
           [[+main-content]]
        </div>
    </div>
`]]
[[+video-content:notempty=`
<div class="row video-row">
    <div class="col-xs-12">
        <iframe style="margin-right: auto; margin-left: auto; display: block;" src="[[+video-content]]" width="600" height="450"></iframe>
    </div>
</div>

`]]

[[+left-content:notempty=`
    <div class="row content-row">
        <div class="col-xs-12 col-sm-6">
           [[+left-content]]
                    
        </div>
        <div class="col-xs-12 col-sm-6">
           [[+right-content]]
            
        </div>
    </div>
`]]

[[+grid-display:notempty=`
<div class="row content-row flex-parent">
[[!getImageList?
      &tvname=`content-builder`
      &tpl=`grid`
      &value=`[[+grid]]`
    ]]
</div>
`]]

[[+before:notempty=`
    <div class="row content-row before-after">
        <div class="col-xs-12 col-sm-6">
           <p><strong>Before</strong></p>
           [[+before]]
                    
        </div>
        <div class="col-xs-12 col-sm-6">
           <p><strong>After</strong></p>
            [[+after]]
        </div>
    </div>
`]]

[[+three-left-content:notempty=`
    <div class="row content-row">
        <div class="col-xs-12 col-sm-6">
           [[+three-left-content]]
                    
        </div>
        <div class="col-xs-12 col-sm-4">
           [[+middle-content]]
            
        </div>
        <div class="col-xs-12 col-sm-4">
           [[+right-content]]
            
        </div>
    </div>
`]]

