<div class="col-xs-6 col-sm-3 item">
	<img src="[[phpthumbof? &input=`[[+photo]]` &options=`&w=500&h=600&zc=1`]]" alt="">
	<h3 class="name">[[+name]]</h3>
	<p class="staff-title">[[+title]]</p>
	<div class="meta">
		[[+email:notempty=`<a href="mailto:[[+email]]" class="email"><i class="fa fa-envelope-o"></i>  [[+email]]</a>`]]
		[[+phone:notempty=`<p class="phone"><i class="fa fa-phone"></i>  [[+phone]]</p>`]]
	</div>
</div>