/*/* Animations */

/*.left-fast {
  @include animation(900ms, left-fast, ease);

}

.right-fast {
 @include animation(900ms, right-fast, ease);
}

.roll-in-left {
 @include animation(900ms, roll-in-left, ease);
}

.up {
  @include animation(900ms, up, ease);
}

.down {
  @include animation(900ms, down, ease);
}

.fade-in {
  @include animation(900ms, fade-in, ease);
}

.delay {
  @include animation-delay (1s);
}

.delay2 {
  @include animation-delay (1.2s);
}
*/



/* KEYFRAMES */


@include keyframe(left-fast){
0%{ opacity: 0; @include prefixer(translateX, 100px);}
100%{ opacity: 1; @include prefixer(translateY, 0);}
 }

@include keyframe(right-fast){
0%{ opacity: 0; @include prefixer(translateX, -100px);}
100%{ opacity: 1; @include prefixer(translateY, 0);}
 }

 @-webkit-keyframes roll-in-left{
0%{ opacity: 0; margin-left:-500px; -webkit-transform:rotateX(550deg);}
100%{ opacity: 1;}
 }

@include keyframe(up){
0%{ bottom:-185px;}
100%{ bottom:0px;}
 }

@include keyframe(down){
0%{ bottom:0px;}
100%{ bottom:-185px;}
 }


@include keyframe(fade-in){
0%{ @include opacity(0)}
100%{ @include opacity(1)}
 }


 @keyframes marquee {
  from{
    transform: translateX(0px);
  }
  to {
    transform: translateX(-100%);
  }
}

 @keyframes marquee-reverse {
  from{
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0px);
  }
}

  .imgs.reverse {
  	.first {
  		animation-direction: reverse;
  	}
  }


.imgs .first {
 -webkit-animation: bannermove 140s linear infinite;
    -moz-animation: bannermove 140s linear infinite;
     -ms-animation: bannermove 140s linear infinite;
      -o-animation: bannermove 140s linear infinite;
         animation: bannermove 140s linear infinite;
}
 
@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -100%;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -100%;
 }
 
}
 
@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -100%;
 }
 
}
 
@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -100%;
 }
 
}
 
@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -100%;
 }
 
}

/* SENCHA ANIMATIONS */
