* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline:none !important;
}

.flex-parent {

  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
}
.bar {
  float:left;
  width:50%;
  display: inline-block;
  max-width: 200px;
  .logo-bug {
    padding:10px;
    display: inline-block;
  }
  @include viewport(md){
      background:$secondary;
      height: 11px;
      margin: 5px 0 30px;
      border: solid 1px black;
      max-width:none;;
      width:100%;
    .logo-bug {
      width: 240px;
      position: relative;
      right: 20px;
      float: right;
      top: -43px;
      padding: 0;
    }
  }
  
}

.main-content.page-builder-content {
  .row {
    margin-bottom: 2em;
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.before-after{
  p {
    margin-bottom: 0;
  }
}

.cf {
  &:before,&:after {
    content: " "; 
    display: table; 
  }
  &:after {
    clear: both;
  }
}

body {
    
}

body.home,.interior .about {
  overflow-x:hidden;
      background-image: url(/resources/img/map.png);
    background-repeat: no-repeat;
    background-position: -20% 89%;
    background-size: 60% auto;
}


.callout {
  background:$secondary;
  h1,h2,h3,h4 {
    color:black;
  }
  p,li {
    color:white;
  }
}
.about-page {
  .solutions {
    h1 {
      margin-bottom: .5em;

    }
  }
  .callout {
    li {
      font-style: italic;
      &:after {
        content:"|";
        padding-left: .5em;
        font-style: normal;
      }
    }
  }
  section.content-section {
    position: relative;
    overflow: hidden;
    img.background {
      position: absolute;
      width:50%;
    }
    &:nth-child(even){
      background:$lightgray;
      img.background {
        right:0;
      }
    }
    &:nth-child(odd){
      img.background {
        left:0;
      }
    }
    @include viewport(md){
      padding:0;
    }
  }
  section .content {
    &.right {
      text-align: right;
    }
    padding:5em 2em;
    h1 {
      font-size: 55px;
      @include viewport(sm){
        font-size: 80px;
      }
      span {
        color:$secondary;
      }
    }
  }
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}

/* MAIN */

.overlay {
  position: absolute;
  width:100%;
  height:100%;
  left:0;
  top:0;
  z-index: 1;
  @include transition(.3s all);
}

.content-contain {
  position: relative;
  z-index: 2;
}

.section-title {
  margin-bottom: 2em;
}

section {
  @extend .cf !optional;
  padding:2em;
  @include viewport(sm){
    padding:4em 2em;
  }
  @include viewport(md){
    padding:6em 0;
  }
    
}

.other {
  .item {
    
    .contain {
    @include transition(.3s all);

    }    
    &:hover {
      .contain {
      transform:scale(1.1);
      box-shadow: $shadow;
      z-index: 500;
      .content {
        background: white;
      }
    }
    }
    text-align: center;
    margin-top: 1em;
    .content {
      padding:2em;
    }
    .button {
      margin-top: 2em;
    }
    img {
      width:100%;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 1em;
    }
  }
}
.filters {
  height:0;
  margin: 0;
  @include viewport(sm){
    height:auto;
  }
}

.filter {
  @include viewport(sm){
    width: 13.9%;
    float: left;
    padding: 2em;
  }
    padding:10px 0;
    width:100%;
    text-align: center;
    font-weight: 800;
    cursor:pointer;
    @include transition(.3s all);
    &:before {
          content: "";
          height: 2px;
          background: transparent;
          width: 70px;
          margin: auto;
          display: block;
          margin-bottom: 11px;
    @include transition(.3s all);

      }
    &.active {
      &:before {
          content: "";
          height: 2px;
          background: $secondary;
          width: 70px;
          margin: auto;
          display: block;
          margin-bottom: 11px;
      }
    }
}



.wrap {
  margin:auto;
  &.small-wrap {
    max-width:800px;
  }
  &.xs-wrap {
    max-width:600px;
  }
  max-width: 1100px;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}



/* FOOTER */

/* BUTTON */

.vertical-center {
  display: table;
  .content {
    display: table-cell;
    vertical-align:middle;
  }
}

.no-pad {
  div[class*="col-"]{
    padding:0;
  }
}

div.overlay,.overlay-image {
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index: 1;
  @include transition(.3s all);
}

.overlay-image {
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

.products {
  padding:0;
  .row {
    margin-left: -15px;
    margin-right: -19px;
  }
  .product {
    border:solid 1px #d6d6d6;
    margin-left:-1px;
    margin-bottom:-1px;
    height:200px;
    @include viewport(sm){
      height:350px;
    }
    @include viewport(lg){
      height:380px;
    }
    .overlay-image {
      opacity:0;
    }
    .content {
      position: relative;
      z-index: 2;
      padding:1em;
      p {
        display: none;
      }
      @include viewport(sm){
      padding:0 5em;
      p {
        display: block;
      }
      } 
      @include viewport(md){
      padding:0 3em;
        
      } 
      @include viewport(lg){
      padding:0 5em;
        
      } 
    }
    p,a {
      @include transition(.3s all);
    }
    
    @include transition(.3s all);
    background: white;
    &:hover {
      border-color:transparent;
      transform:scale(1.1);
      z-index: 500;
      box-shadow:$shadow;
      background:$gray;
      .content {
        transform:scale(.8);
      }
      .overlay-image {
        opacity:.35;
      }
      p,h2 {
        color:white;
      }
    }
  }

}

.shape {
      position: absolute;
    top: -49%;
    left: 20%;
}

.logo {
  display: inline-block;
}

.interior {
  .hero {
    padding:15em 2em 11em;
    @include viewport(md){
      padding: 35em 2em 11em;

    }
  .pagetitle {
    font-size: 50px;
    @include viewport(sm){
      font-size: 80px;
    }
  }

  }
}

.menu-row {
  a {
    &:before {
      content: "\f054";
      @extend .fa;
      margin-right:1em;
      color:$secondary;

    }
  }
}

.sidebar {
  background:$lightgray;
  padding:2em;
  li {
    font-size: 14px;
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom:solid 1px #d5d5d5;
    &.active {
      a {
        color:$secondary;
        &:before {
          content: "\f054";
          @extend .fa;
          margin-right:1em;

        }
      }
    }
    a {
      color:$primary;
      &:hover, {
        color:$secondary;
      }
    }
    &:last-child {
      border-bottom: 0;
      margin-bottom: 0em;
    padding-bottom: 0em;
    }
  }
}

.downloads  {
  li {
   a {
     text-align: center;
  border:solid 1px $primary;
  padding:1em;
  display: inline-block;
  width:100%;
  &:hover {
    border-color:$secondary;
    h4 {
      color:$secondary;
    }
  }
   }
  p,h4 {
    margin: 0;
    @include transition(.3s all);
  }
  h4 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  p {
    color:$secondary;
    font-size: 12px;
  }
  }

}
.interior {
  .hero {
    .contain {
      @include viewport(sm){
      width:80%;

    }
    }
  }
}

  .hero {
    overflow:hidden;
    .overlay {
background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */

      z-index: 0;
    }
  }
.hero {
  background-position: center;
  background-size: cover;
  padding:17em 2em 5em;
  position: relative;
  @include viewport(desktop){
    background-attachment: fixed;
  }
  .hero-content {
    z-index: 500;
    position: relative;
        padding: 20px;
    background: rgba(black,.4);
    @include viewport(sm){
      padding:0;
      background:transparent;
    }
  }
  .shape {
    z-index: 1;
  }
  .button{
    box-shadow:0 0 10px rgba($primary,.5);
  }
  .contain {
    @include viewport(sm){
      width:80%;

    }
    @include viewport(md){
      width:60%;

    }
    position: relative;
  }
  h1,p {
    color:white;
  }
  h1 {
    text-shadow:0 0 15px rgba($primary,.8);
  }
  @include viewport(sm){
    padding:26em 4em 15em;
  }
  @include viewport(md){
    padding:40em 0 25em;
  }
}

.img-row {
   position: relative;
}

.imgs {
  &:first-child {
    margin-bottom: 3px;
  }
  width: 3550px;
  height: 159px;
  overflow:hidden;
  img {
    transform: translate3d(0, 0, 0);
  }
}



/*.imgs {
  @include clearfix;
  animation: marquee 1000s linear infinite;

  &.reverse {
    animation: marquee 1000s linear infinite;
    animation-direction:reverse;

  }
  img {
    float:left;
    padding: 1px;
  }
}
*/

.abs{
  position: absolute;
}

.gal {
  .overlay {
    visibility:hidden;
    z-index: 3;
    background:rgba(black,.4);
    @include opacity(0);
    &:after {
        display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    content: "\f002";
    color: white;
    font-size: 34px;
    position: absolute;
    z-index: 8;
    left: 50%;
    top: 50%;
    margin-top: -17px;
    margin-left: -17px;
    }
  }
  .item {
    &:hover {
      .overlay {
        visibility:visible;
        @include opacity(1);
      }
    }
  }
}
.gallery-page {
  .main-content {
    padding:0;
  }
}
.gallery {
  overflow:hidden;
  padding:0;
  .content {
    padding:2em;
    text-align: center;
    p {
      width:50%;
      margin:auto;
      @include viewport(sm){
        width:30%;
      }
    }
    @include viewport(sm){
      padding:3em 2em;
    }
  }
  .button {
    position: absolute;
    left:50%;
    top:50%;
    margin-top: -25px;
    margin-left: -80px;
    z-index: 500; 
    box-shadow:0 0 10px rgba($primary,.8)
  }
}

section.about {
  
}

section.footer {
  .logo {
    max-width:150px;
  }
  .social {
    li {
      a {
        font-size: 24px;
        &:hover {
          opacity:.8
        }
        i {
          color:inherit;
        }
        
          &.facebook {
            color:#3c589c
          }
          &.twitter {
            color:#46a4ec
          }
          &.google {
            color:#da3e31
          }
          &.linkedin {
            color:#006bae
          }
          &.youtube {
            color:#df1811
          }
        }
      }
  }
  li {
    margin-bottom: .5em;
  }
  .logo {
    margin-bottom: 2em;
    display: inline-block;
  }
  background: #dcdcdc;
  h3 {
    color:$secondary;
  }
  i {
    font-size: 110%;
    margin-right:10px;
  }
  p,a {
    font-size: 12px;
    line-height: 1.2;
    margin-bottom: 0;
  }
  a {
    color:$primary;
    &:visited,&:active {
      color:$primary;
    }
    &:hover {
      color:$secondary;
    }
  }
}

i {
  @include transition(.3s all);
}

.footer div.col-xs-12 {
  margin-bottom: 2em;
  @include viewport(sm){
    margin-bottom: 0;
  }
}



.clickthroughs {
  padding:0;
  div.col-sm-4{
    text-align: center;
    padding:10em 1em;
    background-color: #383838;
    position: relative;
    &:hover {
      .overlay {
        @include opacity(.3);
      }
    }
    .overlay {
      background-size: cover;
      background-position: center;
      @include opacity(.1);
      @include transition(.3s all);
    }
    h3 {
      text-transform: uppercase;
      color:white;
      line-height: 1;
      margin-bottom: 0;
      &:before {
          content: "";
          height: 2px;
          background: $secondary;
          width: 70px;
          margin: auto;
          display: block;
          margin-bottom: 11px;
      }
    }
  }
}

.close {
      color: white;
    text-shadow: none;
    font-size: 44px;
    opacity: 1;
    margin-top:-10px;
    @include transition(.3s all);
    &:hover {
      opacity:.8;
      color:white;
    }
}

.modal {
  .button {
    margin-right:1em;
  }
}

.modal-backdrop.in {
  @include opacity(.9);
}

.list-animate {
  a {
    color:$primary;
    &:visited {
      color:$primary;
    }
    i {
      margin-left:1em;
    }
    &:hover {
      color:$secondary;
      i {
      color:$secondary;
      margin-left:1.25em;
      }
    }
  }
  li {
    margin-bottom:1em;
  }
}

.gallery-page {

  .modal {
    top:2%;
    .button {
      margin:1em 0;
      padding:1em;
      width:100%;
    }
    img {
      width:80%;
      margin:1em 10%;;
    }
    h1 {
      font-size: 14px;
    }
    @include viewport(sm){
      top:10%;
    h1 {
      font-size: 30px;
    }
      img {
        width:100%;
        margin:auto;
      }
    }
    h1,p {
      color:white;
    }
  }
}
.B_crumbBox {

  li {
    &:after {
      content:">";
      margin:0 2px;
    }
    &:last-child,&.B_lastCrumb {
      &:after {
        content:none;

      }
    }
    display: inline;
    a.B_currentCrumb {
      color:lighten($primary,20);
    }
    a {
      color:$primary;
    }
  }


}

.breadcrumbs {
  li {
    color:#868686;
    font-size: 12px;
    font-style: italic;
    a {
      color:black;
      &:hover {
        color:$secondary;
      }
    }
  }
}

.gallery-page .gallery-row .mix{
  display: none;
      position: relative;
      .content-contain {
        position: relative;
        width: 100%;
        height: 150px;
        overflow:hidden;
      }

  img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      display: block;
    }
}

.gallery-section {
  margin: 0;
  padding: 0;
}

.staff {
  .item {
    margin:15px 0;
  }
  .meta {
    border-top: solid 1px lighten($primary,20);
    padding-top: 5px;
    p,a {
      font-size: 12px;
      color:$primary;
      i {
        margin-right: 10px;
      }
    }
    a {
      &:hover {
        color:$secondary;
      }
    }
  }
  padding-top:4em;
  padding-bottom:4em;
  img {
    margin-bottom: 1em;
  }
  .name {
    margin-bottom: 0;
    font-size: 22px;
  }
  .staff-title {
    font-size: 18px;
    font-style: italic;
    margin-bottom: 5px;
  }
}


.lazyload {
  opacity: 0;
}

.lazyloading {
  opacity: 1;
  transition: 300ms opacity;
  background: #f7f7f7 url(//afarkas.github.io/lazysizes/assets/imgs/loader.gif) no-repeat center;
  min-height: 60px;
  height:100%;
}

/* Responsive Video Embeds */
.video-container {
    position: relative;
    padding-top: 25px;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    iframe {
     position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}

