.mainnav {
	> .first {
		> a {
			padding-left: 0 !important;
		}
	}
	.col-xs-12 {
		margin-bottom: 0;
		padding: 0;
	}
	.has-sub {
		> a {
			cursor:default;
		}
	}
	.logo-contain {
		position: absolute;
		img {
			width:90%;
		}
		@include viewport(sm){
			position:relative;
			img {
				width:100%;
			}
		}
	}
	.logo {
		margin:1em 0;
	}
	background-color: rgba($gray,1);
@include transition(all .5s);
	ul{
		float:left;
		li {
			float:left;
			&:last-child {
				a {
					padding-right: 0;
					margin-right: 0;
				}
			}
			a {
				padding:1.5em 1.5em;
				text-transform: uppercase;
				display: inline-block;
				color:#ddd;
				&:visited {
					color:#ddd;
				}
			}
		}
	}
	.information {
		&.visible-xs {
			text-align:left;
			padding:10px;
			.content {
				float:none;
				p,a {
					font-size: 12px;
				}
			}
		}
		.content {
			float:left;
		}
		p,a {
			color:white;
			font-size:18px
		}
	}
}

header {
	@include transition(.5s all);
	position: fixed;
	width:100%;
	z-index: 1000;
	.logo {
		float:left;
	}
}


.tophat {
	background:#3f3f3f;
	padding:3px 0;
	div.col-xs-6{
		&:last-child {
			ul {
				float:right;
			}
		}
	}
	.contact {
		li {
			margin-right: .25em;
			&:last-child {
				margin-right: 0;
			}
		}
		i {
			margin-right: .5em;
		}
	}
	ul {
		margin-bottom: 0;
		li {
			font-size: 14px;
			&,a {
				color:#dcdcdc;
			}
		}
	}
}

