body {
  font: 100%/1.5 $body;
  color: $neutral;
}

/* HEADINGS */

h1, h2, h3, h4, h5 {
  font-family: $heading;
  color: $dark;
  margin:0 0 16px;
}

h1 {
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
}

h1,h2,h3 {
  text-transform: uppercase;
  font-weight: 700;
}

.hero {
  h1 {
    font-size: 35px;
    @include viewport(sm){
      font-size: 43px;
    }
  }
}

h2 {
  font-size: 18px;
  @include viewport(sm){
    font-size: 32px
  }
}

h2.large {
  font-size: 32px;
  @include viewport(sm){
    font-size: 64px;
  }
}

.center {
  text-align: center;
}

.main-content {
  ul,li {
    list-style-type: disc !important;

  }

  ul {
    padding-left: 30px;
    margin: 1em 0;
  }
  .downloads {
    ul,li {
      list-style: none;
    }
    ul {
      padding: 0;
      margin: 0;
      margin-left:-15px;
      margin-right: -15px;
    }
  }
}

/* PARAGRAPH */

p,li{
  font-size: 14px;
  font-family: $body;
  color: #636466;


}

p {
    line-height: 1.6;
    margin-bottom: 1em;
}

a {
  color:$secondary;
  @include transition(all .3s);
  text-decoration: none;
  
  &:visited,&:active {
    color:$secondary;
  }
  &:hover {
    color:darken($secondary,10);
    text-decoration: none;
  }
}

/* LISTS */
ul {
  padding:0;
  list-style: none;
}

.button {
  background:$secondary;
  color:white;
  font-size: 14px;
  display: inline-block;
  padding:1em 2em;
  margin:1em 0;
  text-align: center;
  &:focus,&:visited,&:active {
    color:white;
  }
  &:hover {
    background:darken($secondary,20%);
  }
}

.main-form {
  input[type="submit"]{
    @extend .button;
    display: inline-block;
    width:auto;
  }
}


.fa {
      display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}