// COLOR PALETTE
$primary: #636466;
$secondary: #e71916;
$hover: #505050;
$neutral: #011F40;
$highlight: #306DB1;
$ultralight: #537FB1;
$link: $secondary;
$dark:#3d3d3d;
$gray: #7c7c7c;
$lightgray:#ececec;

// FONT STACKS
$heading: 'Roboto', sans-serif;
$body: 'Open Sans', sans-serif;

$shadow: inset -1px -1px 0 rgba(0,0,0,0.05),.7vw 1vw 3vw rgba(0,0,0,0.15);;

