[[$doc_head]]
  <body class="interior about-page">
 [[$header]]
  [[$hero]]
    
    <section class="about">
        <div class="container-fluid wrap">
            <div class="row content">
                <div class="col-xs-12 col-sm-7">
                    [[*content]]
                </div>
            </div>
        </div>
    </section>
    <section class="content-section">
        <div class="container-fluid wrap">
            <div class="row">
                
                <div class="col-xs-12 col-sm-5 content">
                    <h1 class="large title">
                        Sales<br><span>&</span> Design
                    </h1>
                    [[*sales-and-design]]
                </div>
                    <img  class="background" src="[[*sales-and-design-img]]" alt="">
                    
            </div>
        </div>
    </section>
    <section class="content-section">
        <div class="container-fluid wrap">
            <div class="row">
                
                
                <img  class="background" src="[[*installation-serivce-img]]" alt="">
                <div class="col-xs-12 col-sm-6 col-sm-offset-6 content right">
                    <h1 class="large title">
                        Installation<br><span>Service</span>
                    </h1>
                    [[*installation-service]]
                </div>
            </div>
        </div>
    </section>
    <section class="content-section">
        <div class="container-fluid wrap">
            <div class="row">
                
                <div class="col-xs-12 col-sm-6 content">
                    <h1 class="large title">
                        inventory<br><span>warehouse</span>
                    </h1>
                    [[*inventory-warehouse]]
                </div>
                <img class="background" src="[[*inventory-warehouse-image]]" alt="">
            </div>
        </div>
    </section>
    <section class="callout text-center">
        <div class="container-fluid wrap small-wrap">
            <div class="row">
                <div class="col-xs-12">
                    <h2>Industry Experience</h2>
                    <ul class="list-inline">
                        [[getImageList?
                            &tvname=`industry-experience`
                            &tpl=`experience`]]

                    </ul>
                </div>
            </div>
        </div>
    </section>
    [[*display-staff:is=``:then=``:else=`
    <section class="staff content-section">
        <div class="container-fluid wrap">
            <div class="row">
                <div class="col-xs-12 content">
                    <h1 class="large title">
                        our <span>staff</span>
                    </h1>
                    <div class="staff-row">
                        [[getImageList?
                        &tvname=`staff`
                        &tpl=`staff`]]
                    </div>
                    
                    </div>
                </div>
                
            </div>
        </div>
    </section>
    `]]
    <section class="solutions text-center">
        <div class="container-fluid wrap xs-wrap">
            <div class="row div col-xs-12 content">
                <h1 class="large title">innovative<br><span>solutions</span></h1>
                [[*get-started]]
                <a href="[[~81]]" class="button">Start your project today</a>
            </div>
        </div>
    </section>
[[$clickthroughs]]
[[$footer]]
[[$doc_footer]]
