[[$doc_head]]
  <body class="interior about-page product-page">
    [[$header]]
    <section class="hero" style="background-image:url([[*header-image]])">
        <div class="overlay"></div>
        <div class="container-fluid wrap">
            <div class="row">
                <div class="contain">
                    <div class="hero-content">
                        <h1 class="pagetitle">[[*pagetitle]]</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="main-content">
        <div class="container-fluid wrap">
            <div class="row">
                <div class="col-xs-12 col-sm-4 main-content">
                    [[*content]]
                </div>
                <div class="col-xs-12 col-sm-8">
                    [[$contact-form]]
                </div>
            </div>
        </div>
    </section>
    [[$clickthroughs]]
    [[$footer]]
[[$doc_footer]]
