[[$doc_head]]
  <body class="interior gallery-page">
    [[$header]]
    <section class="hero" style="background-image:url([[*header-image]])">
        <div class="overlay"></div>
        <div class="container-fluid wrap">
            <div class="row">
                <div class="contain">
                    <div class="hero-content">
                        <h1 class="pagetitle">[[*pagetitle]]</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="main-content">
        <div class="container-fluid wrap">
            
            <div class="row">
                    <div class="hidden-xs hidden-sm">
                       <div class="filter" data-filter="all">Show All</div>
                       [[!GalleryAlbums? &prominentOnly=`1` &rowTpl=`album-row` &dir=`ASC`]]
                   </div>
                   <div class="visible-xs visible-sm">
                       <select name="" id="FilterSelect">
                           <option class="filter" value="all">Show All</option>
                           [[!GalleryAlbums? &prominentOnly=`1` &rowTpl=`album-row-select` &dir=`ASC`]]
                       </select>
                   </div>
                   
            </div>
        </div>
    </section>
    <section class="gallery-section no-pad">
    	<div class="col-xs-12 gallery-row">
						
	                    [[getImageList?
	                        &tvname=`gallery-albums`
	                        &tpl=`gallery-migx`]]
	                    </div>
    </section>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="container-fluid wrap modal-open-content">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <img id="gal-pic" src="" alt="">
                </div>
                <div class="col-xs-12 col-sm-6">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h1 id="gal-name"></h1>
                    <br>
                    <p id="gal-desc"></p>
                   
                    <p>Learn more about our <span id="gal-prod">Mezzanine</span> products</p>
                    <div class="row">
                        <div class="col-xs-6"><a id="prodLink" href="" class="button">See Products</a></div>
                        <div class="col-xs-6"><a href="[[~81]]" class="button">Get A Quote</a></div>
                    </div>
                    
                    

                </div>
            </div>
        </div>
    </div>
                        
    [[$clickthroughs]]
    [[$footer]]
[[$doc_footer]]