[[$doc_head]]
  <body class="home">
    [[$header]]
    <section class="hero" style="background-image:url([[*header-image:phpthumbof=`w=1200&zc=1&`]])">
        <div class="overlay"></div>
        <div class="container-fluid wrap">
            <div class="row">
                <div class="contain">
                    <div class="hero-content">
                        <h1>[[*hero-headline]]</h1>
                        [[*hero-content]]
                        <a href="[[*hero-link]]" class="button">[[*hero-cta]]</a>
                    </div>
                    <img src="resources/img/shape.png" alt="" class="shape hidden-xs">
                </div>
            </div>
        </div>
    </section>
    <section class="products">
        <div class="container-fluid">
            <div class="row">
                    [[!getResources?
                      &parents=`5`
                      &tpl=`home-products`
                      &showHidden=`1`
                      &limit=`6`
                      &includeTVs=`1`
                      &processTVs=`1`
                      &tvPrefix=``
                      &depth=`0`
                      &resources=`-12,-13,-14`
                      &sortby=`{"menuindex":"DESC"}` 
                    ]]
            </div>
        </div>
    </section>
    <section class="gallery">
        <div class="content">
            <h2>The MWS Gallery</h2>
            <p>[[*gallery-content]]</p>
        </div>
        <div class="row img-row">
            <div class="imgs">
                [[!Gallery? 
                &album=`[[*album]]` 
                &thumbWidth=`244` 
                &thumbHeight=`159` 
                &thumbTpl=`homepage-gallery-item`]]
            </div>
            <div class="imgs reverse">
                [[!Gallery? 
                &album=`[[*album]]` 
                &thumbWidth=`244` 
                &thumbHeight=`159` 
                &thumbTpl=`homepage-gallery-item`]]
            </div>
            <a href="gallery" class="button">View the Gallery</a>
        </div>
    </section>
    <section class="other">
        <div class="container-fluid wrap">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="center section-title">[[+diversified-headline]]</h2>
                </div>
                	[[!getResources?
                	  &parents=`5`
                	  &tpl=`diversified`
                	  &showHidden=`1`
                	  &limit=`3`
                	  &includeTVs=`1`
                	  &processTVs=`1`
                	  &tvPrefix=``
                	  &resources=`12,13,14`
                        &depth=`0`
                	]]
            </div>
        </div>
    </section>
    <section class="about">
        <div class="container-fluid wrap">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="large">[[*about-headline]]</h2>
                </div>
                <div class="col-xs-12 col-sm-8">
                    [[*about-content]]
                    <h4>[[*about-cta]]</h4>
                    <a href="about" class="button">[[*about-link]]</a>
                </div><!-- 
                <div class="col-xs-12 col-sm-5">
                    <h3>Case Studies</h3>
                    <ul class="list-animate">
                        <li><a href="">odio adipiscing porttitor. Dictumst<i class="fa fa-angle-right"></i></a></li>
                        <li><a href="">penatibus et duis adipiscing urna<i class="fa fa-angle-right"></i></a></li>
                        <li><a href="">elementum! Est proin pid!<i class="fa fa-angle-right"></i></a></li>
                        <li><a href="">Ac pulvinar et dignissim <i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </section>
[[$footer]]
 [[$doc_footer]]