[[$doc_head]]
  <body class="interior about-page">
    [[$header]]
    [[$hero]]
    <section class="main-content">
        <div class="container-fluid wrap">
            
            <div class="row">
                
                <div class="col-xs-12 main-content">
                            [[*content]]
                    </div>
                </div>
        </div>
    </section>
    [[$clickthroughs]]
    [[$footer]]
[[$doc_footer]]
