[[$doc_head]]
  <body class="interior about-page product-page">
    [[$header]]
    <section class="hero" style="background-image:url('[[*header-image]]')">
        <div class="overlay"></div>
        <div class="container-fluid wrap">
            <div class="row">
                <div class="contain">
                    <div class="hero-content">
                        <h1 class="pagetitle">[[*pagetitle]]</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="">
        <div class="container-fluid wrap">
            <div class="row breadcrumbs">
                <div class="col-xs-12  [[!childCheck? &id=`[[*id]]` &parent=`[[*parent]]` &container=`5` &childChunk=`col-sm-8 col-sm-offset-4` &siblingChunk=`col-sm-8 col-sm-offset-4`]]">
                    <p>[[Breadcrumbs? &crumbSeparator=``&pathThruUnPub=`0`&currentAsLink=`0`]]</p>
                </div>
            </div>
            <div class="row">
                
                <div class="col-xs-12 col-sm-push-4  main-content [[!childCheck? &id=`[[*id]]` &parent=`[[*parent]]` &container=`5` &childChunk=`col-sm-8` &siblingChunk=`col-sm-8`]]">

                    <div class="row">
                        <div class="col-xs-12 main-content page-builder-content">
                            [[!getImageList?
                                  &tvname=`content-builder`
                                  &tpl=`pagebuilder`
                                ]]

                        </div>
                    </div>
                    [[*gallery:is=``:then=``:else=`
                    <hr>
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>From Our Gallery</h3>
                        </div>
                        <div class="col-xs-12">
                                [[$gallery]]
                        </div>
                    </div>
                    `]]
                    <!-- <div class="row">
                        <div class="col-xs-12">
                            <h3>Case Studies</h3>
                        </div>
                        <div class="col-xs-12 item case">
                            <br>
                            <br>
                            <h4>Case Study Title</h4>
                            <ul class="list-inline meta">
                                <li>
                                    <p><i class="fa fa-calendar" aria-hidden="true"></i> May 20, 2015</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-map-marker" aria-hidden="true"></i>  Case study location</p>
                                </li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehender</p>
                            <a href="">Continue Reading <i class="fa fa-angle-right"></i></a>
                        </div>
                        <div class="col-xs-12 item case">
                        <hr>

                            <br>
                            <h4>Case Study Title 2</h4>
                            <ul class="list-inline meta">
                                <li>
                                    <p><i class="fa fa-calendar" aria-hidden="true"></i> May 20, 2015</p>
                                </li>
                                <li>
                                    <p><i class="fa fa-map-marker" aria-hidden="true"></i>  Case study location</p>
                                </li>
                            </ul>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehender</p>
                            <a href="">Continue Reading <i class="fa fa-angle-right"></i></a>
                        </div>
                    </div> -->
                    [[*spec-sheets:is=``:then=``:else=`
                    <hr>
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Spec Sheets</h3>
                            <ul class="downloads row">
                                [[!getImageList?
                                &tvname=`spec-sheets`
                                &tpl=`spec-sheets`]]
                            </ul>
                        </div>
                    </div>`]]

                    <br>
                    <br>
                </div>
                [[!childCheck? &id=`[[*id]]` &parent=`[[*parent]]` &container=`5` &childChunk=`[[$showChildren]]` &siblingChunk=`[[$showSiblings]]`]]
            </div>
        </div>
    </section>
    [[$clickthroughs]]
    [[$footer]]
[[$doc_footer]]
