<div class="col-xs-6 col-sm-3">
<a class="fancybox mix" rel="group" href="[[*photo]]" data-description="[[+description]]">

	<div class="item">
		<div class="contain">
			<div class="content-contain">
				<img class="thumb" data-original="[[*photo]]" src="[[*photo]]" alt="[[+name]]" />
			</div>
			<div class="overlay"></div>
		</div>
	</div>
</a>
</div>
