<div data-toggle="modal" data-description="[[+description]]"  data-product="[[+album_name]]" data-picture="[[+image]]" data-target="#myModal" class="col-xs-6 col-sm-4 col-md-2 mix">
    <div class="item">
        <div class="contain">
            <div class="content-contain"><img class="thumb lazyload" data-original="[[+thumbnail]]" data-src="[[+thumbnail]]" alt="[[+name]]" />
            </div>
            <div class="overlay"></div>
        </div>
    </div>
</div>