<div class="col-xs-6 col-sm-3 lazy-load">
<a class="fancybox mix" rel="group" href="[[+image]]" data-description="[[+description]]">

	<div class="item">
		<div class="contain">
			<div class="content-contain">
				<img class="thumb lazyload" data-original="[[+image]]" src="[[+thumbnail]]" alt="[[+name]]" />
			</div>
			<div class="overlay"></div>
		</div>
	</div>
</a>
</div>
